<div id="updateUser" class="w3-modal">

    <div class="w3-col l4 m8 w3-container w3-display-topmiddle">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)"
            class="w3-container w3-card-4 w3-light-grey w3-text-blue w3-margin w3-round-large">
            <span class="w3-btn w3-right" style="padding-top:3px;padding-bottom:3px;padding-left:8px;padding-right:0px"
                (click)="hideUpdateUser()">&#10006;</span>

            <div class="w3-row w3-section">
                <div class="w3-rest w3-center">
                    <div class="w3-container w3-display-container w3-text-white">
                        <div class="w3-display-middle w3-container" [hidden]="!this.showSpinner"><i
                                class="w3-xxlarge fa fa-spinner w3-text-white w3-spin"></i></div>
                        <img class="w3-hover-opacity" src="{{ this.tempAvatar }}" id="avatar"
                            style="height:106px; width:auto; cursor: pointer;" (click)="uploadAvatar()" onmouseover="">
                        <input type="file" id="avatarUpload" name="avatarUpload" style="display:none"
                            (change)="onFileSelected($event)" />
                    </div>
                </div>
            </div>
            <div class="w3-row w3-section">
                <div class="w3-rest-center">
                    <div class="w3-display-middle w3-container w3-text-theme" (click)="uploadAvatar()" onmouseover=""
                        style="cursor: pointer;">Click to change</div>
                </div>
            </div>
            <div class="w3-row w3-section w3-padding">
                <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user w3-text-theme"></i></div>
                <div class="w3-rest">
                    <input class="w3-input w3-border" name="displayName" type="text"
                        placeholder="{{ this.user && this.user.displayName }} (display name)" ngModel>
                </div>
            </div>

            <!--
                    <div class="w3-row w3-section">
                        <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-envelope-o w3-text-theme"></i></div>
                        <div class="w3-rest">
                            <input class="w3-input w3-border" name="email" type="text" placeholder="{{ this.user && this.user.email }}" ngModel>
                        </div>
                    </div>
                    -->

            <!--
                    <div class="w3-row w3-section">
                        <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-mobile w3-text-theme"></i></div>
                        <div class="w3-rest">
                            <input class="w3-input w3-border" name="cell" type="tel"
                                placeholder="{{ this.user && this.user.cell }}"
                                pattern="[0-9]{3}[0-9]{3}[0-9]{4}|[0-9]{3}-[0-9]{3}-[0-9]{4}"
                                oninvalid="document.getElementById('phoneFormat').style.display='inline';" ngModel>
                            <span id="phoneFormat" style="display:none;"><em>Format: 312-555-1212 or
                                    3125551212</em></span>
                        </div>
                    </div>
                    -->
            <button type="submit" class="w3-button w3-block w3-section w3-button w3-theme w3-ripple w3-padding">Update
                Profile</button>
        </form>
    </div>

</div>