<div #addEvent id="addEvent" class="w3-modal">

    <div class="w3-col l4 m8 w3-container w3-display-topmiddle">
        <form #event="ngForm" (ngSubmit)="submit(event)"
            class="w3-container w3-card-4 w3-light-grey w3-text-blue w3-margin w3-round-large">
            <span class="w3-btn w3-right" style="padding-top:3px;padding-bottom:3px;padding-left:8px;padding-right:0px"
                (click)="hideAddEvent()">&#10006;</span>

            <div class="w3-row w3-section w3-padding">
                <div class="w3-row">
                    <input class="w3-input w3-border form-control" name="eventDescription" type="text"
                        placeholder="Event Description" ngModel>
                </div>
                <div class="w3-row">
                    <div class="w3-col s7 m8 l8">
                        <input class="w3-input w3-border form-control" name="eventDate" type="date"
                            value="{{ this.today|date:'yyyy-MM-dd' }}" ngModel>
                    </div>
                    <div class="w3-col s5 m4 l4">
                        <input class="w3-input w3-border form-control" name="eventTime" type="time" value="20:00"
                            ngModel>
                    </div>
                </div>

                <div class="w3-row">
                    <input class="w3-radio form-control" type="radio" value="tournament" name="eventType"
                        [(ngModel)]="eventType" ngModel>
                    &nbsp;<label>Tournament</label>
                </div>
                <div class="w3-row">
                    <input class="w3-radio form-control" type="radio" value="cash" name="eventType"
                        [(ngModel)]="eventType" ngModel>
                    &nbsp;<label>Cash</label>
                </div>
                <div class="w3-row">
                    <div class="w3-col s4 m4 l4">
                        <input class="w3-radio form-control" type="radio" value="other" name="eventType"
                            [(ngModel)]="eventType" ngModel>
                        &nbsp;<label>Other</label>
                    </div>
                    <div class="w3-rest" [hidden]="eventType!='other'">
                        <input class="w3-input w3-border form-control" name="otherDesc" type="text" ngModel>
                    </div>
                </div>
            </div>
            <button type="submit" class="w3-button w3-block w3-section w3-button w3-theme w3-ripple w3-padding">Add
                Event</button>
        </form>
    </div>

</div>